@import url(https://fonts.google.com/specimen/DM+Sans);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  font-weight: 400 500;
}

/*Global Styles*/

:root {
  --bg-color: hsl(31, 66%, 93%);
  --bg-yellow-bg: hsl(39, 100%, 71%);
  --bg-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 7%);
  --color-purple-light: hsl(254, 88%, 90%);
  --color-purple-strong: hsl(256, 67%, 59%);
}

body {
  font-size: 25px;
  background-color: var(--bg-white);
  font-weight: 500;
  font-family: DM Sans;
  display: block;
  justify-content: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  flex-wrap: wrap;
  gap: 1rem;
  grid-template: revert;
}

img {
  vertical-align: middle;
  width: 100%;
}

.content-scheduling {
  grid-area: 1 / 1 / 3 / 2;
  background-color: var(--bg-color);
  border-radius: 10px;
  align-content: center;
  padding: 10px;
}

body > div.parent > div.content-scheduling > h1 > span {
  font-style: italic;
  color: var(--color-purple-strong);
  font-weight: 400;
}

.ai-content-writing {
  grid-area: 3 / 1 / 5 / 2;
  background-color: var(--bg-yellow-bg);
  border-radius: 10px;
  align-content: center;
  padding: 10px;
}

.social-media {
  grid-area: 1 / 2 / 3 / 4;
  background-color: var(--color-purple-strong);
  border-radius: 10px;
  align-items: center;
  padding: 20px;
  vertical-align: middle;
  text-align: center;
  color: var(--bg-white)
}

body > div.parent > div.social-media > h1 > span{
  color: var(--bg-yellow-bg)
}

.social-media > img{
  width: 40%;
}

.multiple-accounts{
  grid-area: 3 / 2 / 4 / 3;
  background-color: pink;
  border-radius: 10px;
  align-content: center;
  padding: 10px;
  image-orientation: inherit;
}

.consistent-posting {
  grid-area: 3 / 3 / 4 / 4;
  border-radius: 10px;
  align-content: center;
  padding: 10px;
  background-color: var(--bg-yellow-bg);
}

.audience-growth {
  grid-area: 4 / 2 / 5 / 3;
  border-radius: 10px;
  align-content: center;
  padding: 10px;
  background-color: var(--bg-white);
}
.schedule-to-social-media {
  grid-area: 1 / 4 / 4 / 5;
  border-radius: 10px;
  align-content: center;
  padding: 10px;
  background-color: var(--color-purple-light);
}
.grow-followers {
  grid-area: 4 / 3 / 5 / 5;
  border-radius: 10px;
  align-content: center;
  padding: 10px;
  background-color: var(--color-purple-strong);
  color: var(--bg-white);
}

.grow-followers-content {
  display: inline-flex;
  flex-direction: row-reverse;
}

/*Responsive Design*/
@media only screen and (max-width: 860px) {
  .parent {
    display: block;
  }

  .content-scheduling,
  .ai-content-writing,
  .social-media,
  .multiple-accounts,
  .consistent-posting,
  .audience-growth,
  .schedule-to-social-media,
  .grow-followers {
    margin-top: 10px;
  }
}
